@import '../../styles/variables.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}